.bg{
    
}

.textArea{
    width: 90%;
    margin: 0 auto;
    line-height: 1em;
    padding-top: 10%;
}

.textArea p{
    color: #91C691;
    font-size: 1.125rem/1;
    font-weight: 600;
    font-family: Karla,helvetica,arial,sans-serif;
    
    letter-spacing: .16rem;
}

.textArea h1{
    color: #18242A;
    font-size: 48px;
}
.typewriter{
    color: #18242A;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
}

.action{
    width: 40%;
    display: flex;
    align-items: center;

}
.btn{
    display: block;
    font-size: 16px;
    padding: 20px 30px;
    background-color: #191C3C;
    color: aliceblue;
    border-radius: 30px;
    transition: ease 300ms;
}

.btn:hover{
    cursor: pointer;
    background-color: #91C691;

}

.work {
    cursor: pointer;
    margin-left: 10%;
    color: #91C691;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #91C691;
    
}

.work i{
    border-bottom: none !important;
    margin-left: 10px;
}

video{
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: -20%;
    width: 100%;

}