.nav{
    
    height: 80px;
}

.innerNav{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    align-items: baseline;
}
a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #18242A;
    
    
}

.logo img{
    width: 130px;
}

.active{
    border-bottom: 2px solid#91C691;
}

ul li{
    padding:0 5px 12px 5px;

    margin-left: 54px;
}

.getStarted  {
    padding-top: 10px;
}
.getStarted a {
    color: #91C691;
    border: .01em solid #91C691;
    border-radius:50px ;
    padding: 20px 40px  ;
}

.getStarted i{
    color: #91C691;
    margin-left: 10px;
}